body {
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
}

h3 {
    color: #73A9AD;
    font-size: 1.4rem;
}

h2 {
    color: #73A9AD;
    font-weight: normal;
    margin: 50px;
}

a {
    color: black;
    text-decoration: none;
}

hr {
    border: 10px dotted #F5F0BB;
    border-style: none none dotted;
    color: ;
    width: 5%;
}

/********************SECTIONS***********************/

.top {
    background-color: #F5F0BB;
}

.mid {

}

.bottom {
    background-color: #73A9AD;
    margin: 0;
}

/***********************CHILDREN*********************/

/***********************TOP*************************/

.name {
    padding: 30px 0 0 0;
    margin: 0 auto 0 auto;
    position: relative;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #73A9AD;
}

.job{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: -20px;
    font-size: 2.5rem;
    color: #73A9AD;
}

.tree{
    height: 250px;
    width: 250px;
    position: relative;
}

/*************************MID***********************/

.myface{
    padding-top: 30px;
    width: 10%;
}

.skill-row {
    width: 40%;
    margin: 100px auto 100px auto;
    text-align: justify;
    line-height: 2;
}

.python {
    width: 22%;
    float: left;
    padding: 30px;
}

.monitor{
    width:22%;
    float: right;
    padding: 30px;
}

.plastic {
     width:22%;
     float: left;
     padding: 30px;
}

.soft {
    width: 22%;
    float: right;
    padding: 30px;
}

.ack {
    margin-bottom: 0;
    text-align: center

}

.btn {
  background-color: #73A9AD;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  position: relative;
  bottom: 1rem;
  margin: 40px;
}

.contact-me {
    margin: 30px auto 30px auto;
}


